%h2= "Question \"#{@question.to_param}\""
- content_tag_for :div, @question do
  %ul
    %li
      %strong Title:
      =h @question.title
    %li
      %strong Min title:
      =h @question.min_title
    %li
      %strong Max title:
      =h @question.max_title
%ul
  %li= link_to 'Edit', edit_question_path(@question)
  %li= link_to 'Back', questions_path