%h2 Listing results
- current_user.questions.each do |question|
  %h3= question.title
  
  %table(border="1")
    - question.results.each do |result|
      %tr
        %td= l result.date
        %td= result.value
= link_to 'New result', new_result_path