- content_tag_for :div, activity do
  %ul
    %li
      %strong Title:
      =h activity.title
    %li
      %strong Start:
      =h activity.start
    %li
      %strong Stop:
      =h activity.stop
    %li
      %strong Comment:
      =h activity.comment
    = link_to 'Show', activity
    = link_to 'Edit', edit_activity_path(activity)
    = link_to 'Destroy', activity, :confirm => 'Are you sure?', :method => :delete